# Encrypt everything by default
* filter=crypt

# Don't encrypt these important decryption-related files
filter-wrapper.sh filter=
pre-commit filter=
e2e-init filter=
fido2-derive filter=
*.cred filter=
.gitignore filter=
.gitattributes filter=
README.md filter=
